[Unit]
Description=Run AWatch DLP CEF Exporter every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
Unit=cef-exporter.service
Persistent=true

[Install]
WantedBy=timers.target
