[Unit]
Description=AWatch DLP CEF Exporter
After=network-online.target

[Service]
Type=oneshot
User=activitywatch
Group=activitywatch
WorkingDirectory=/var/lib/activitywatch
ExecStart=/usr/local/bin/dlp-cef-exporter-rust

[Install]
WantedBy=multi-user.target
