[Unit]
Description=Run AWatch DLP CEF Exporter every 5 minutes

[Timer]
OnCalendar=*:6/10:30
AccuracySec=30s
RandomizedDelaySec=30s
Unit=aw-dlp-cef-exporter.service
Persistent=false

[Install]
WantedBy=timers.target
