[Unit]
Description=AWatch DLP syslog forwarder
After=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/var/lib/activitywatch
ExecStart=/usr/local/bin/dlp-syslog-forwarder-rust
User=activitywatch
Group=activitywatch
