[Unit]
Description=Run AWatch DLP Webhook sender every 2 minutes

[Timer]
OnCalendar=*:8/10:45
AccuracySec=30s
RandomizedDelaySec=30s
Unit=aw-dlp-webhook-sender.service
Persistent=false

[Install]
WantedBy=timers.target
