[Unit]
Description=Run AW Worktime Report Cache Prewarm

[Timer]
OnCalendar=*:0/15:40
AccuracySec=30s
Persistent=false
Unit=aw-worktime-prewarm.service

[Install]
WantedBy=timers.target
