[Unit]
Description=Run AW Worktime Autoheal every 3 minutes

[Timer]
OnCalendar=*:1/3:35
AccuracySec=30s
Unit=aw-worktime-autoheal.service
Persistent=false

[Install]
WantedBy=timers.target
