[Unit]
Description=Run AW Worktime UI bridge every 30 seconds

[Timer]
OnCalendar=*:0/1:15
AccuracySec=10s
Unit=aw-worktime-ui-bridge.service
Persistent=false

[Install]
WantedBy=timers.target
