[Unit]
Description=Run AW Worktime InfluxDB exporter every 10 minutes

[Timer]
OnCalendar=*:4/10:05
AccuracySec=1min
RandomizedDelaySec=30s
Unit=aw-worktime-influx-exporter.service

[Install]
WantedBy=timers.target
